.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* TaskForm.css */

.task-form {
    max-width: 300px;
    margin: auto;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  


  /* TaskTable.css */

.task-table-container {
  margin: 20px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th, .task-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.task-table th {
  background-color: #f2f2f2;
}

.delete-button, .complete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  margin-right: 5px;
}

.complete-button {
  background-color: #4caf50;
}

.delete-button:disabled,
.complete-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



.signup-container {
  max-width: 400px;
  margin: auto;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-container input {
  padding: 8px;
  margin-bottom: 10px;
}

.signup-container button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #45a049;
}

.signup-container p {
  margin-top: 20px;
  text-align: center;
}

.signup-container Link {
  color: #4caf50;
  text-decoration: none;
}

.signup-container Link:hover {
  text-decoration: underline;
}
